{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" class="p-4 border rounded">
  {% csrf_token %}

  <div class="mb-3">
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
  </div>

  <div class="mb-3">
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
  </div>

  <div class="mb-3">
    {{ form.username.label_tag }}
    {{ form.username }}
  </div>

  <div class="mb-3">
    {{ form.email.label_tag }}
    {{ form.email }}
  </div>

  <div class="mb-3">
    {{ form.password1.label_tag }}
    {{ form.password1 }}
  </div>

  <div class="mb-3">
    {{ form.password2.label_tag }}
    {{ form.password2 }}
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}